<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css" integrity="sha384-aUGj/X2zp5rLCbBxumKTCw2Z50WgIr1vs/PFN4praOTvYXWlVyh2UtNUU0KAUhAX" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>

<link rel="stylesheet" href="http://code.jquery.com/ui/1.11.4/themes/black-tie/jquery-ui.css">
<script src="//code.jquery.com/jquery-1.10.2.js"></script>
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>

<script type="text/javascript" src="{{ url_for('static', filename='main.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='meters-ui.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='meter.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='object.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='protocol.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='channel.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='meters.js') }}"></script>
  </head>

  <div class="container">
    <!-- Static navbar -->
      <nav class="navbar navbar-inverse">
        <div class="container-fluid">
          <div class="navbar-header">
            
            <a class="navbar-brand" href="/">Опрос счетчиков СЕ</a>
          </div>
          <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              <li class="active"><a href="/">Home</a></li>
              <li><a href="#">About</a></li>
              <li><a href="#">Contact</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div><!--/.container-fluid -->
      </nav>
      <div class="panel panel-default">
        <div class="row">
          <div class="col-md-7">
            <div style="float:left" id="meters_menu" class="panel-body">
              <button class="add_wh btn btn-success"><span class="glyphicon glyphicon-plus"></span> Добавить прибор учета</button>
              <button class="add_ch btn btn-success"><span class="glyphicon glyphicon-plus"></span> Добавить канал опроса</button>
              <button href="#objects" class="add_obj btn btn-success"><span class="glyphicon glyphicon-plus"></span> Добавить объект учета</button>
            </div>
          </div>
          <div class="col-md-5">
            <!-- <div id="status" class="alert alert-success"></div> -->
          </div>
        </div>
    </div>

      
        {% block content %}
        {% endblock %}
      

    </div> 
    
  </body>
</html>
