<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css" integrity="sha384-aUGj/X2zp5rLCbBxumKTCw2Z50WgIr1vs/PFN4praOTvYXWlVyh2UtNUU0KAUhAX" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>

<link rel="stylesheet" href="http://code.jquery.com/ui/1.11.4/themes/black-tie/jquery-ui.css">
<script src="//code.jquery.com/jquery-1.10.2.js"></script>
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>

<script type="text/javascript" src="{{ url_for('static', filename='js/main.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/meters-ui.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/meter.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/object.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/protocol.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/channel.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/meters.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/reports-ui.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/reports.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/requests-ui.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/requests.js') }}"></script>
<style type="text/css">
  #waiting {
    display: none;
    position: fixed; 
    top: 50%; 
    padding:10px; 
    left: 50%;
    margin-left: -50px;
    margin-top: -50px;
    z-index:2;
    overflow: auto;
  }
</style>
</head>
<body>
<!-- Dialogs -->
<!-- Meters dialogs -->
<div id="wh_edit_dialog"></div>
<div id="wh_delete_dialog"></div>
<div id="wh_add_dialog"></div>
<div id="ch_edit_dialog"></div>
<div id="ch_delete_dialog"></div>
<div id="ch_add_dialog"></div>
<div id="obj_edit_dialog"></div>
<div id="obj_delete_dialog"></div>
<div id="obj_add_dialog"></div>
<div id="status_dialog"></div>
<!-- Reports dialogs -->
<div id="fixday-report-dialog"></div>

<!-- Requests dialogs -->
<div id="request_by_channels_dialog"></div>

<div id="waiting" style=""><img src="{{ url_for('static', filename='images/wait2.gif') }}"></div>
  <div class="container">
    <!-- Static navbar -->
      <nav class="navbar navbar-inverse">
        <div class="container-fluid">
          <div class="navbar-header">
            
            <a class="navbar-brand" href="/">Опрос счетчиков СЕ</a>
          </div>
          <div id="navbar" class="navbar-collapse collapse">
            <ul id="main_menu" class="nav navbar-nav">
              <li id="configurator"><a href="#">Конфигурация</a></li>
              <li id="reports"><a href="#">Отчеты</a></li>
              <li id="requests"><a href="#">Опросы</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div><!--/.container-fluid -->
      </nav>
      <div id="content">
        {% block content %}
        {% endblock %}
        <!-- Meters UI -->
        <div id="meters_ui" hidden>
            <div class="panel panel-default">
                <div class="row">
                  <div class="col-md-7">
                    <div style="float:left" id="meters_menu" class="panel-body">
                      <button class="add_wh btn btn-success"><span class="glyphicon glyphicon-plus"></span> Добавить прибор учета</button>
                      <button class="add_ch btn btn-success"><span class="glyphicon glyphicon-plus"></span> Добавить канал опроса</button>
                      <button href="#objects" class="add_obj btn btn-success"><span class="glyphicon glyphicon-plus"></span> Добавить объект учета</button>
                    </div>
                  </div>
                  <div class="col-md-5">
                  </div>
                </div>
            </div>
            <ul class="nav nav-tabs">
                <li class="active"><a data-toggle="tab" href="#meters">Приборы учета</a></li>
                <li><a data-toggle="tab" href="#channels">Каналы опроса</a></li>
                <li><a data-toggle="tab" href="#objects">Объекты учета</a></li>
            </ul>
            <div class="tab-content">
                <div id="meters" class="tab-pane fade in active">
                  <table id="wh_table" class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Объект</th>
                            <th>Описание</th>
                            <th>Тип</th>
                            <th>Номер</th>
                            <th>Адрес</th>
                            <th>Канал</th>
                            <th>Действие</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                    </table>
                </div>
                <div id="channels" class="tab-pane fade">
                  <table id="ch_table" class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Тип</th>
                            <th>Описание</th>
                            <th>IP адрес</th>
                            <th>IP порт</th>
                            <th>Действие</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                    </table>
                </div>
                <div id="objects" class="tab-pane fade">
                  <table id="obj_table" class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Описание</th>
                            <th>Действие</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                    </table>
                </div>
            </div>
        </div>

        <!-- Reports UI -->
        <div id="reports_ui" hidden>
            <div class="panel panel-default">
              <div class="row">
                <div class="col-md-12">
                  <div id="reports_menu" class="panel-body">
                    <button class="fixday_report btn btn-info">Зафиксированные показания</button>
                    <button class="fixday_diff_report btn btn-info">Расход за период</button>
                    <button class="ppvalue_report btn btn-info">Профиль мощности</button>
                  </div>
                </div>
              </div>
            </div>
            <div id="report_content"></div>
        </div>

        <!-- Requests UI -->
        <div id="requests_ui" hidden>
          <div class="panel panel-default">
            <div class="row">
              <div class="col-md-12">
                <div id="requests_menu" class="panel-body">
                  <button class="channels_requests btn btn-info">Опрос по каналам</button>
                  <button class="channels_requests_queue btn btn-info">Опрос по каналам в очереди</button>
                </div>
              </div>
            </div>
          </div>
          <div id="request_content"></div>
        </div>
        
      </div>
  </div> 
    
  </body>
</html>
