{% extends "base.html" %}
{% block content %}
<div class="panel panel-default">
    <div class="row">
      <div class="col-md-7">
        <div style="float:left" id="meters_menu" class="panel-body">
          <button class="add_wh btn btn-success"><span class="glyphicon glyphicon-plus"></span> Добавить прибор учета</button>
          <button class="add_ch btn btn-success"><span class="glyphicon glyphicon-plus"></span> Добавить канал опроса</button>
          <button href="#objects" class="add_obj btn btn-success"><span class="glyphicon glyphicon-plus"></span> Добавить объект учета</button>
        </div>
      </div>
      <div class="col-md-5">
        <!-- <div id="status" class="alert alert-success"></div> -->
      </div>
    </div>
</div>
<ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#meters">Приборы учета</a></li>
    <li><a data-toggle="tab" href="#channels">Каналы опроса</a></li>
    <li><a data-toggle="tab" href="#objects">Объекты учета</a></li>
</ul>

<div id="wh_edit_dialog"></div>
<div id="wh_delete_dialog"></div>
<div id="wh_add_dialog"></div>

<div id="ch_edit_dialog"></div>
<div id="ch_delete_dialog"></div>
<div id="ch_add_dialog"></div>

<div id="obj_edit_dialog"></div>
<div id="obj_delete_dialog"></div>
<div id="obj_add_dialog"></div>

<div id="status_dialog"></div>

<div class="tab-content">
    <div id="meters" class="tab-pane fade in active">
      <table id="wh_table" class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>ID</th>
                <th>Объект</th>
                <th>Описание</th>
                <th>Номер</th>
                <th>Адрес</th>
                <th>Канал</th>
                <th>Действие</th>
            </tr>
        </thead>
        <tbody></tbody>
        </table>
    </div>
    <div id="channels" class="tab-pane fade">
      <table id="ch_table" class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>ID</th>
                <th>Описание</th>
                <th>IP адрес</th>
                <th>IP порт</th>
                <th>Действие</th>
            </tr>
        </thead>
        <tbody></tbody>
        </table>
    </div>
    <div id="objects" class="tab-pane fade">
      <table id="obj_table" class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>ID</th>
                <th>Описание</th>
                <th>Действие</th>
            </tr>
        </thead>
        <tbody></tbody>
        </table>
    </div>
  </div>

<div id="status" style="display: none;">Загрузка данных...</div>
<!-- <div id="data"></div> -->

<div id="dialogs"></div>

{% endblock %}
